In [1]:
# Alphabet A

for row in range(7):
  for col in range(5):
    if (row != 0 and (col == 0 or col == 4)) or ((row == 0 or row == 3) and (col >= 1 and col < 4)):
      print("*",end = " ")
    else:
      print(" ", end = " ")
  print()

  * * *
*       *
*       *
* * * * *
*       *
*       *
*       *

In [2]:
# Alphabet B

for row in range(7):
  for col in range(5):
    if (col == 0) or ((col != 4) and (row == 0 or row == 3 or row == 6)) or ((row != 0 and row != 3 and row != 6) and col == 4) :
      print("*",end = " ")
    else:
      print(" ",end = " ")
  print()

* * * *
*       *
*       *
* * * *
*       *
*       *
* * * *

In [3]:
# Alphabet C

for row in range(7):
  for col in range(5):
    if (col == 0 and (row != 0 and row != 6)) or ((row == 0 or row == 6) and col != 0):
      print("*",end = " ")
    else:
      print(" ",end = " ")
  print()

  * * * *
*
*
*
*
*
  * * * *

In [4]:
# Alphabet D

for row in range(7):
  for col in range(5):
    if (col == 0) or ((col >= 1 and col < 4) and (row == 0 or row == 6)) or (col == 4 and (row >=1 and row < 6)): 
      print("*",end = " ")
    else:
      print(" ",end = " ")
  print()

* * * *
*       *
*       *
*       *
*       *
*       *
* * * *

In [5]:
# Alphabet E

for row in range(7):
  for col in range(5):
    if (col == 0) or (row == 0 or row == 3 or row == 6):
      print("*",end = " ")
    else:
      print(" ", end = " ")
  print()

* * * * *
*
*
* * * * *
*
*
* * * * *

In [6]:
# Alphabet F

for row in range(7):
  for col in range(5):
    if (col == 0) or (row == 0 or row == 3):
      print("*",end = " ")
    else:
      print(" ", end = " ")
  print()

* * * * *
*
*
* * * * *
*
*
*

In [7]:
# Alphabet G

for row in range(7):
  for col in range(5):
    if (col == 0) or (row == 0) or (row == 3 and col != 1) or (col < 3 and row == 6) or ((col == 2 or col == 4) and (row != 1 and row != 2)) :
      print("*",end = " ")
    else:
      print(" ",end = " ")
  print()

* * * * *
*
*
*   * * *
*   *   *
*   *   *
* * *   *

In [8]:
# Alphabet H

for row in range(7):
  for col in range(5):
    if col == 0 or col == 4 or row == 3:
      print("*",end = " ")
    else:
      print(" ", end = " ")
  print()

*       *
*       *
*       *
* * * * *
*       *
*       *
*       *

In [9]:
# Alphabet I

for row in range(7):
  for col in range(5):
    if row == 0 or row == 6 or col == 2:
      print("*",end = " ")
    else:
      print(" ", end = " ")
  print()

* * * * *
    *
    *
    *
    *
    *
* * * * *

In [10]:
# Alphabet J

for row in range(7):
  for col in range(5):
    if (row == 0) or (col == 2) or (row == 6 and col < 3) or (col == 0 and row >=4):
      print("*",end = " ")
    else:
      print(" ", end = " ")
  print()

* * * * *
    *
    *
    *
*   *
*   *
* * *

In [11]:
# Alphabet K

for row in range(7):
  for col in range(5):
    if (col == 0) or (row + col == 3) or (row - col == 3):
      print("*",end = " ")
    else:
      print(" ", end = " ")
  print()

*     *
*   *
* *
*
* *
*   *
*     *

In [12]:
# Alphabet L

for row in range(7):
  for col in range(5):
    if (col == 0) or (row == 6):
      print("*",end = " ")
    else:
      print(" ", end = " ")
  print()

*
*
*
*
*
*
* * * * *

In [13]:
# Alphabet M

for row in range(7):
  for col in range(5):
    if (col == 0) or (col == 4) or (row <=2 and (row - col == 0)) or (row <=2 and (row + col == 4)):
      print("*",end = " ")
    else:
      print(" ", end = " ")
  print()

*       *
* *   * *
*   *   *
*       *
*       *
*       *
*       *

In [14]:
# Alphabet N

for row in range(7):
  for col in range(7):
    if (col == 0) or (col == 6) or (row == col):
      print("*",end = " ")
    else:
      print(" ", end = " ")
  print()

*           *
* *         *
*   *       *
*     *     *
*       *   *
*         * *
*           *

In [15]:
# Alphabet O

for row in range(7):
  for col in range(5):
    if ((col == 0 or col == 4) and (row != 0 and row != 6)) or ((row == 0 or row == 6) and (col >= 1 and col < 4)):
      print("*",end = " ")
    else:
      print(" ", end = " ")
  print()

  * * *
*       *
*       *
*       *
*       *
*       *
  * * *

In [16]:
# Alphabet P

for row in range(7):
  for col in range(5):
    if (col == 0) or ((row == 0 or row == 3) and (col >=1 and col < 4)) or (col == 4 and (row == 1 or row ==2)):
      print("*",end = " ")
    else:
      print(" ", end = " ")
  print()

* * * *
*       *
*       *
* * * *
*
*
*

In [17]:
# Alphabet Q

for row in range(8):
  for col in range(7):
    if ((col == 0 or col == 4) and (row > 0 and row < 6)) or ((row == 0 or row == 6) and (col >= 1 and col < 4)) or ((row > 5) and (row - col == 2)):
      print("*",end = " ")
    else:
      print(" ", end = " ")
  print()

  * * *
*       *
*       *
*       *
*       *
*       *
  * * * *
          *

In [18]:
# Alphabet R

for row in range(7):
  for col in range(5):
    if (col == 0) or ((row == 0 or row == 3) and (col >=1 and col < 4)) or (col == 4 and (row == 1 or row ==2)) or (row > 3 and (row - col == 2)):
      print("*",end = " ")
    else:
      print(" ", end = " ")
  print()

* * * *
*       *
*       *
* * * *
*   *
*     *
*       *

In [19]:
# Alphabet S

for row in range(7):
  for col in range(5):
    if ((row == 0 or row == 3 or row == 6) and (col >=1 and col < 4 )) or ((col == 0) and (row == 1 or row == 2 or row == 5)) or ((col == 4) and (row == 1 or row == 4 or row == 5)):
      print("*",end = " ")
    else:
      print(" ", end = " ")
  print()

  * * *
*       *
*
  * * *
        *
*       *
  * * *

In [20]:
# Alphabet T

for row in range(7):
  for col in range(5):
    if (row == 0 or col == 2):
      print("*",end = " ")
    else:
      print(" ", end = " ")
  print()

* * * * *
    *
    *
    *
    *
    *
    *

In [21]:
# Alphabet U

for row in range(7):
  for col in range(5):
    if ((col == 0 or col == 4) and row < 6) or (row == 6 and (col >= 1 and col < 4)):
      print("*",end = " ")
    else:
      print(" ", end = " ")
  print()

*       *
*       *
*       *
*       *
*       *
*       *
  * * *

In [22]:
# Alphabet V

for row in range(7):
  for col in range(13):
    if (row == col) or (row + col == 12):
      print("*",end = "")
    else:
      print(end = " ")
  print()

*           *
 *         *
  *       *
   *     *
    *   *
     * *
      *

In [23]:
# Alphabet W

for row in range(7):
  for col in range(9):
    if (row < 5 and (col == 0 or col == 4 or col == 8)) or (row == 5 and col % 2 == 1) or ((row == 6) and (col == 2 or col == 6)):
      print("*",end = "")
    else:
      print(" ",end = "")
  print()

*   *   *
*   *   *
*   *   *
*   *   *
*   *   *
 * * * *
  *   *

In [24]:
# Alphabet X

for row in range(7):
  for col in range(9):
    if (row == col) or (row + col == 6):
      print("*",end = "")
    else:
      print(" ",end = "")
  print()

*     *
 *   *
  * *
   *
  * *
 *   *
*     *

In [25]:
# Alphabet Y

for row in range(7):
  for col in range(9):
    if (row <= 3 and (row == col or row + col == 6)) or ((row > 3) and col == 3):
      print("*",end = "")
    else:
      print(" ",end = "")
  print()

*     *
 *   *
  * *
   *
   *
   *
   *

In [26]:
# Alphabet Z

for row in range(7):
  for col in range(7):
    if (row == 0) or (row == 6) or (row + col == 6):
      print("*",end = " ")
    else:
      print(" ",end = " ")
  print()

* * * * * * *
          *
        *
      *
    *
  *
* * * * * * *