In [ ]:
# Pattern 1

rows = int(input('Enter the number of rows you want: '))
for i in range(rows):
  for j in range(i+1):
    print('*', end = " ")
  print()

Enter the number of rows you want: 5
*
* *
* * *
* * * *
* * * * *

In [ ]:
 # Pattern 2

rows = int(input('Enter the number of rows you want: '))
for i in range(rows):
  for j in range(i*2+1):
    print("*", end = " ")
  print()

Enter the number of rows you want: 5
*
* * *
* * * * *
* * * * * * *
* * * * * * * * *

In [ ]:
# Pattern 3

rows = int(input('Enter the number of rows you want: '))
for i in range(rows):
  for j in range(rows-i):
    print("*", end = " ")
  print()

Enter the number of rows you want: 5
* * * * *
* * * *
* * *
* *
*

In [ ]:
# Pattern 4

rows = int(input('Enter the number of rows you want: '))
for i in range(rows):
  for j in range((rows*2)-(i*2+1)):
    print("*", end = " ")
  print()

Enter the number of rows you want: 5
* * * * * * * * *
* * * * * * *
* * * * *
* * *
*

In [ ]:
# Pattern 4

rows = int(input('Enter the number of rows you want: '))
for i in range(rows):
  for j in range(rows-i-1):
    print(" ", end = " ")
  for k in range(i+1):
    print("*", end = " ")
  print()

Enter the number of rows you want: 5
        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
# Pattern 5

rows = int(input('Enter the number of rows you want: '))
for i in range(rows):
  for j in range(i):
    print(" ", end = " ")
  for k in range(rows-i):
    print("*", end = " ")
  print()

Enter the number of rows you want: 5
* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
# Pattern 6

rows = int(input('Enter the number of rows you want: '))
for i in range(rows):
  for j in range(rows-i-1):
    print(end = " ")
  for k in range(i+1):
    print("*", end = " ")
  print()

Enter the number of rows you want: 5
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
# Pattern 7

rows = int(input('Enter the number of rows you want: '))
for i in range(rows):
  for j in range(i):
    print(end = " ")
  for k in range(rows-i):
    print("*", end = " ")
  print()

Enter the number of rows you want: 5
* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
# Pattern 8

rows = int(input('Enter the number of rows you want: '))
if rows%2 == 1:
    for i in range(rows//2+1):
      for j in range(rows-i-1):
        print(end=" ")
      for k in range(i+1):
        print("*",end = " ")
      print()
    for i in range(rows//2):
      for j in range((rows//2)+(1+i)):
        print(end=" ")
      for k in range((rows//2)-i):
        print("*",end = " ")
      print() 
else:
  for i in range(rows//2):
    for j in range((rows//2)-i-1):
      print(end=" ")
    for k in range(i+1):
      print("*",end = " ")
    print()
  for i in range(rows//2):
    for j in range(i):
      print(end=" ")
    for k in range((rows//2)-i):
      print("*",end = " ")
    print()

Enter the number of rows you want: 11
          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [ ]:
# Pattern 9

rows = int(input('Enter the number of rows: '))
for row in range(rows):
  for col in range(rows):
    if row == 0 or col == (rows-1) or row == col:
      print('*', end = "")
    else:
      print(end=" ")
  print()

Enter the number of rows: 5
*****
 *  *
  * *
   **
    *

In [ ]:
# Pattern 10

rows = int(input('Enter the number of rows: '))
for row in range(rows):
  for col in range(rows):
    if row == 0 or col == 0 or row == (rows-1-col):
      print("*",end="")
    else:
      print(end=" ")
  print()

Enter the number of rows: 5
*****
*  *
* *
**
*

In [ ]:
# Pattern 11

rows = int(input('Enter the number of rows: '))
for row in range(rows):
  for col in range(rows):
    if row == (rows-1) or col == 0 or row == col:
      print("*",end="")
    else:
      print(end = " ")
  print()

Enter the number of rows: 5
*
**
* *
*  *
*****

In [ ]:
# Pattern 11

rows = int(input('Enter the number of rows: '))
for row in range(rows):
  for col in range(rows):
    if row == (rows-1) or col == (rows-1) or row == (rows-1-col):
      print("*",end="")
    else:
      print(end=" ")
  print()

Enter the number of rows: 5
    *
   **
  * *
 *  *
*****

In [ ]:
# Pattern 11

rows = int(input('Enter the number of rows: '))
if rows%2==1:
  for row in range(rows):
    for col in range(rows):
      if row+col == rows//2 or col-row == rows//2 or row+col == (rows//2)*3 or row-col == (rows//2):
        print("*",end="")
      else:
        print(end=" ")
    print()
else:
  for row in range(rows):
    for col in range(rows):
      if row+col == (rows//2)-1 or col-row == (rows//2) or row+col == (rows//2)*3-1 or row-col == (rows//2):
        print("*",end="")
      else:
        print(end=" ")
    print()

Enter the number of rows: 11
     *
    * *
   *   *
  *     *
 *       *
*         *
 *       *
  *     *
   *   *
    * *
     *